<template>
    <div class="contact">
        <div class="container-block">
            <h1>Contact Us</h1>

            <form v-if="!contact.sending.done" class="contact__form">

                <div class="form__group">
                    <label>Name</label>
                    <input
                      type="text"
                      class="form__control"
                      placeholder="Enter your name"
                      @keyup="form=form"
                      v-model="form.name">
                    <div v-if="!isValid.name" class="form__notice">
                        Name cannot be shorter than 3 characters
                    </div>
                </div>

                <div class="form__group">
                    <label>Phone</label>
                    <input
                      type="text"
                      @keyup="form=form"
                      class="form__control js__input_phone"
                      placeholder="+7(___)___-__-__"
                      v-model="form.phone">
                    <div v-if="!isValid.phone" class="form__notice">
                        Usually the phone contains 11 numbers
                    </div>
                </div>

                <div class="form__group">

                    <label>Message</label>

                    <textarea
                      class="form__control"
                      @keyup="form=form"
                      placeholder="Enter message"
                      rows="5"
                      autocomplete="off"
                      spellcheck="false"
                      v-model="form.message"></textarea>

                    <div class="form__notice">
                        <span v-if="!isValid.message || form.message.length === 250">
                            Maximum 250 characters allowed.
                        </span>
                        <span v-if="isValid.message">
                            {{ 250 - form.message.length }} characters left
                        </span>
                    </div>

                </div>

                <button
                  @click="sendMessage"
                  type="button"
                  class="btn">
                    Send message
                </button>

            </form>


            <div v-if="contact.sending.done" class="contact__done">

                <div class="contact__done__icon">
                    <svg width="98" height="56" viewBox="0 0 98 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.447 0.334009C15.08 0.469009 14.521 0.836009 14.193 1.16401C13.769 1.58801 11.569 6.10301 6.86202 16.231C-0.546983 32.129 -0.449984 31.878 0.379016 33.575C0.668016 34.173 1.05402 34.597 1.63302 34.925C2.09602 35.195 12.263 39.98 24.225 45.575C38.154 52.058 46.296 55.762 46.797 55.82C47.819 55.936 49.189 55.338 49.787 54.508C50.038 54.18 51.774 50.63 53.626 46.637L57.021 39.364L63.098 39.268C69.889 39.152 69.966 39.152 70.545 37.763C70.912 36.876 70.641 35.815 69.889 35.236C69.426 34.85 69.137 34.831 64.294 34.831C61.169 34.831 59.22 34.754 59.259 34.657C59.298 34.541 60.185 32.593 61.246 30.316L63.175 26.149L75.773 26.11L88.39 26.052L88.95 25.415C89.394 24.913 89.51 24.605 89.51 23.91C89.51 23.158 89.414 22.926 88.854 22.367L88.198 21.711H75.601C63.447 21.711 63.003 21.692 62.617 21.344C62.386 21.132 58.527 19.26 54.013 17.157C49.498 15.073 45.736 13.279 45.621 13.183C45.525 13.106 56.984 13.029 71.068 13.029H96.688L97.344 12.373C97.884 11.833 98 11.582 98 10.868C98 10.405 97.865 9.826 97.691 9.595C96.958 8.53401 98.829 8.59201 65.955 8.59201H35.646L26.733 4.42501C17.473 0.103009 16.836 -0.128991 15.447 0.334009V0.334009ZM19.961 6.296C20.212 6.547 22.778 11.833 25.672 18.045C28.547 24.257 30.977 29.389 31.055 29.485C31.113 29.562 36.708 28.154 43.479 26.34C52.277 23.967 55.942 23.08 56.328 23.157C57.177 23.35 58.064 24.469 58.064 25.337C58.064 26.244 57.504 27.17 56.791 27.459C56.482 27.575 52.45 28.694 47.839 29.909C43.228 31.144 39.427 32.186 39.408 32.205C39.369 32.244 41.144 35.543 43.324 39.575C45.523 43.588 47.395 47.118 47.491 47.408C47.915 48.623 46.893 50.051 45.485 50.205C43.98 50.359 43.942 50.301 39.215 41.581C36.823 37.182 34.836 33.536 34.797 33.498C34.758 33.459 33.697 33.691 32.443 34.038C29.819 34.732 29.51 34.752 28.7 34.327C28.237 34.095 27.89 33.536 26.964 31.626C25.942 29.484 25.787 29.234 25.401 29.33C25.169 29.388 21.118 30.218 16.411 31.163C7.07302 33.054 7.01502 33.073 6.16702 31.993C5.37602 30.99 5.51102 29.697 6.51402 28.79C6.80302 28.52 9.21501 27.96 15.234 26.726C19.806 25.8 23.607 24.99 23.665 24.912C23.723 24.854 22.064 21.15 19.98 16.693C17.703 11.793 16.199 8.33901 16.199 7.99201C16.199 7.20101 16.681 6.352 17.318 5.986C18.071 5.563 19.402 5.71701 19.961 6.296V6.296ZM75.968 35.215C74.868 36.083 74.791 37.627 75.833 38.611C76.412 39.17 76.45 39.17 78.862 39.228C81.061 39.267 81.37 39.247 81.949 38.881C83.28 38.051 83.416 36.084 82.2 35.235C81.698 34.868 81.351 34.83 79.036 34.83C76.759 34.829 76.392 34.868 75.968 35.215ZM58.315 47.891C58.084 47.93 57.621 48.277 57.293 48.644C56.251 49.84 56.656 51.48 58.18 52.117C59.087 52.503 67.074 52.503 67.981 52.117C69.312 51.557 69.833 50.11 69.119 48.895C68.502 47.853 68 47.757 63.138 47.776C60.726 47.794 58.547 47.852 58.315 47.891V47.891Z" fill="black"/>
                    </svg>
                </div>

                {{ contact.sending.message }}

                <div class="contact__done__btn">
                    <button @click="contact.sending.done=false" class="btn">Write another message</button>
                </div>

            </div>


        </div>
    </div>
</template>

<script>

    import Inputmask from "inputmask"

    module.exports = {
        name: "Contacts",
        props: [],
        data() {
            return {
                phoneMasked: false
            }
        },
        computed: {
            contact() {
                return this.$store.state.contact
            },
            form: {
                get() {
                    return this.contact.form
                },
                set(form, oldForm) {
                    form.message = form.message.slice(0,250)
                    this.$store.dispatch('contactSaveForm', form)
                }
            },
            isValid() {
                return this.$store.getters.isContactFormValid
            }
        },
        methods: {
            sendMessage() {
                this.$store.dispatch('contactSendMessage')
            }
        },
        mounted() {
            this.phoneMasked = new Inputmask("+7(999)999-99-99", {
                positionCaretOnClick: "radixFocus",
                radixPoint: "(",
                _radixDance: true,
                oncomplete: e => {
                    console.log(e.target.value);
                    this.form.phone = e.target.value
                    this.$store.commit('contactSaveForm', this.form)
                }
            }).mask(document.querySelector('.js__input_phone'))
        }
    }
</script>

<style lang="scss">

    .contact{
        padding: 50px 0 80px;
        &__form{
            padding-top: 20px;
        }
        &__done{
            font-size: 23px;
            background: #fff;
            text-align: center;
            padding: 30px 20px;
            &__icon{
                padding-bottom: 30px;
                svg{
                    width: 100px;
                }
            }
            &__btn{
                padding-top: 30px;
            }
        }
    }
</style>