<template>
    <div class="home">

        <div class="container-block">
            <div class="homeHero">
                <h1>Let's make your&nbsp;product Better,&nbsp;Faster &&nbsp;Easier&nbsp;to&nbsp;Use</h1>
                <!--<h1>Benefit from my full stack front-end expertise to create human-centric, and goal-oriented web & mobile solutions.</h1>-->
                <!--<h1>Yuriy Sokolov is a Frontend Developer <br>living in Saint-Petersburg, Russia</h1>-->
                <router-link to="/contact" class="btn">Write me about your project</router-link>
            </div>
        </div>

        <div class="homeWorks">
            <div class="container">
                <div class="container-block">
                    <div class="h2">
                        Projects that helped me gain experience
                    </div>
                    <div class="homeWorks__description">
                        I created these projects from scratch using the Vue.js framework.
                    </div>
                </div>
                <homeSlider v-if="$store.state.projects.length > 0"></homeSlider>
            </div>
        </div>

    </div>
</template>

<script>
    module.exports = {
        name: "Home",
        props: [],
        data() {
            return {}
        },
        computed: {},
        methods: {},
        beforeMount() {
            this.$store.dispatch('getProjects')
        },
        components: {
            homeSlider: require('./HomeSlider.vue')
        }
    }
</script>

<style lang="scss">

    @import '../scss/mixins.scss';

    .homeHero{
        padding: 80px 0;
        text-align: center;
        @include break(md) {
            text-align: left;
            padding: 100px 0;
        }
        @include break(lg) {
            padding: 150px 0;
        }
        &__btn{
            height: 46px;
            font-weight: 500;
            background: #222;
            color: #fff;
            font-size: 17px;
            border: 0;
            line-height: 100%;
            padding: 10px 15px;
        }
    }

    .homeWorks{
        background: #fff;
        padding: 50px 0 0;
        @include break(lg) {
            padding: 100px 0 50px;
        }
        &__description{
            font-size: 20px;
            font-weight: 400;
            color: #636363;
        }
    }
</style>