<template>
    <div>

        <div class="container-block">
            <div class="homeSlider__btns">
                <button @click="previous()" class="homeSlider__btn prev" type="button" aria-label="Previous">
                    <svg width="14" height="24" viewBox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14 21.18L5.34683 12L14 2.82L11.336 0L2.85906e-07 12L11.336 24L14 21.18Z" fill="black"/>
                    </svg>
                </button>
                <button @click="next()" class="homeSlider__btn next" type="button" aria-label="Next">
                    <svg width="15" height="24" viewBox="0 0 15 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.589844 21.18L9.24301 12L0.589844 2.82L3.25381 0L14.5898 12L3.25381 24L0.589844 21.18Z" fill="black"/>
                    </svg>
                </button>
            </div>
        </div>

        <div class="homeSlider">
            <div id="homeSlider">
                <a href="/" v-if="projects" v-for="project in projects" class="homeSlider__slide">

                    <div :data-flickity-bg-lazyload="project.pic" class="homeSlider__slide__image"></div>

                    <div class="homeSlider__slide__content">
                        <div class="homeSlider__slide__title">{{ project.name }}</div>
                    </div>
                </a>
            </div>
        </div>

    </div>
</template>

<script>
    import '../../node_modules/flickity/dist/flickity.css'
    import throttle from '../utils/throttle'

    const Flickity = require('flickity-bg-lazyload')

    module.exports = {
        name: "HomeSlider",
        props: [],
        data() {
            return {
                instance: false,
            }
        },
        computed: {
            projects() {
                return this.$store.state.projects
            }
        },
        methods: {
            next() {
                this.instance.next();
            },
            previous() {
                this.instance.previous();
            },
            initSlider() {
                let node = document.querySelector('#homeSlider')

                this.instance = new Flickity(node, {
                    cellSelector: '.homeSlider__slide',
                    bgLazyLoad: 3,
                    adaptiveHeight: false,
                    draggable: true,
                    imagesLoaded: true,
                    pageDots: false,
                    prevNextButtons: false,
                    setGallerySize: true,
                    wrapAround: true,
                    initialIndex: 1,
                    freeScroll: false,
                    freeScrollFriction: 0.03,
                    selectedAttraction: 0.020,
                    friction: 0.25,
                    on: {
                        change: function(index) {}
                    }
                })
            },
            reInitSlider() {
                if (this.instance) this.instance.destroy()
                this.initSlider()
            },
        },
        mounted() {
            this.initSlider()
            window.addEventListener('resize', throttle(this.reInitSlider, 500))
        },
        beforeDestroy() {
            this.instance.destroy()
            window.removeEventListener('resize', throttle(this.reInitSlider, 500))
        }
    }
</script>

<style lang="scss">

    @import '../scss/_mixins.scss';
    @import '../scss/_variables.scss';

    $prevNextBtnSize: 44px;

    .homeSlider{
        background: #fff;
        margin: 0;
        padding-bottom: $prevNextBtnSize;
        &__slide{
            display: block;
            position: relative;
            margin: 0 5px;
            width: 100%;
            overflow: hidden;
            text-decoration: none;
            @include break(md){
                width: 50%;
            }
            @include break(lg){
                width: calc(33.333% - 10px);
            }
            @include break(hover) {
                text-decoration: none;
            }
            @include break(focus) {
                text-decoration: none;
            }
            &__image{
                height: 300px;
                width: 100%;
                background-color: #444;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                @include break(sm){
                    height: 400px;
                }
            }
            &__content{
                padding: 15px;
            }
            &__title{
                color: $color-text-default;
                font-size: 18px;
                line-height: 130%;
                font-weight: 400;
            }
        }
        &__btns{
            padding: 15px 0;
            display: flex;
            justify-content: flex-start;
        }
        &__btn{
            border:0;
            padding: 0;
            margin: 0;
            height: $prevNextBtnSize;
            width: $prevNextBtnSize;
            background: transparent;
            @include break(hover) {
                background: $color-background-gray;
            }
            @include break(focus) {
                outline: none;
            }
            &.prev{
                margin-right: 15px;
            }
            &.next{}
            svg{
                fill: $color-background-dark;
            }
        }
    }

    #homeSlider{
        margin: 0 -15px;
        @include break(md) {
            margin: 0;
        }
        .flickity-viewport{
            height: 100%;
            transition: height 0.2s;
        }
    }
</style>