@mixin break($point) {
    @if $point == sm {
        @media (min-width: 540px) { @content ; }
    }
    @else if $point == md {
        @media (min-width: 720px) { @content ; }
    }
    @else if $point == lg {
        @media (min-width: 960px) { @content ; }
    }
    @else if $point == xl {
        @media (min-width: 1200px)  { @content ; }
    }
    @else if $point == hover {
        @media (hover: hover) { &:hover { @content; } }
    }
    @else if $point == focus {
        &:focus, &:active, &:hover { @content; }
    }
}