// Grid
$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;
$enable-grid-classes: true !default;

$grid-breakpoints: (
    xs: 0,
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1200px
) !default;

$container-max-widths: (
    sm: 100%,
    md: 100%,
    lg: 100%,
    xl: 1170px
) !default;


// Colors
$color-background-gray: #F1F1F1;
$color-background-dark: #333;
$color-text-default: #161616;
$color-text-muted: #A1A1A1;


// Fonts
$font-default: 'wow', 'Helvetica', 'Arial', sans-serif;


// Header
$header-height: 44px;