.btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    line-height: 120%;
    padding: 12px 15px;
    font-size: 18px;
    font-weight: 400;
    transition: none;
    border-radius: 2px;
    background: $color-background-dark;
    color: #fff;
    border: 0;
    cursor: pointer;
    @include break(hover) {
        text-decoration: none;
        color: #fff;
        background: darken($color-background-dark, 10%);
    }
    &-blue{
        background: #0068ba;
        @include break(hover) {
            background: darken(#0068ba, 5%);
        }
    }
}