.footer{
    background: #333;
    color: #eee;
    padding: 50px 0 20px;
    line-height: 130%;
    &__title{
        padding-bottom: 15px;
        border-bottom: 1px solid #505050;
    }
    a{
        color: #fff;
    }
    svg{
        fill: #fff;
    }
    &__contacts{
        padding: 40px 0 10px;
        &__column{
            padding-bottom: 30px;
        }
        &__name{
            padding:0 0 7px;
            font-size: 19px;
            font-weight: 500;
            line-height: 130%;
            @include break(lg) {
                font-size: 22px;
            }
        }
        &__city{
            font-size: 16px;
            padding-bottom: 20px;
            color: #bdbdbd;
        }
        &__element{
            font-size: 17px;
            padding: 0 0 15px;
            @include break(lg) {
                font-size: 17px;
            }
            svg{
                width: 20px;
                height: 20px;
                margin-right: 10px;
            }
        }
    }
}