label{
    margin-bottom: 7px;
    line-height: 130%;
    font-size: 16px;
}
textarea{
    min-height: 160px;
}
.form__{
    &group{
        padding-bottom: 25px;
    }
    &control {
        width: 100%;
        font-size: 18px;
        border-radius: 3px;
        border: 2px solid transparent;
        height: 48px;
        line-height: 120%;
        padding: 12px 15px;
        color: #000;
        @include break(focus) {
            outline: none;
            border: 2px solid #dadada;
        }
    }
    &notice{
        color: #999;
        font-size: 13px;
        padding-top: 3px;
    }
}
