header, .header{
    background: transparent;
    height: $header-height;
    line-height: 100%;
    top: -$header-height;
    margin-top: 0;
    transition: .3s top ease-in-out;
    z-index: 99;
    &__wrapper{
        height: $header-height;
    }
    &__nav{
        height: 100%;
        ul{
            height: 100%;
            list-style: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            flex-wrap: nowrap;
            margin: 0;
            padding: 0;
            @include break(md) {
                justify-content: flex-start;
            }
            li{
                margin: 0 10px;
                @include break(md) {
                    margin: 0 25px 0 0;
                }
                a{
                    color: #333;
                    font-size: 16px;
                    font-weight: 400;
                }
            }
        }
    }
    &.sticky{
        background: #fff;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        margin-top: 0;
        transition: .3s all ease;
        box-shadow: 0 0 10px rgba(0, 0, 0, .08);
        &-out{

        }
    }
}