@import "../../node_modules/bootstrap/dist/css/bootstrap-reboot.min.css";
@import "variables.scss";
@import "mixins.scss";

body{
    font-family: $font-default;
    background: $color-background-gray;
    color: $color-text-default;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-width: 320px;
}

html{
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
    touch-action: manipulation;
}

*, *::before, *::after {
    box-sizing: inherit;
}

[v-cloak] { display: none; }

@import "~bootstrap/scss/mixins/_breakpoints.scss";
@import "~bootstrap/scss/mixins/_grid-framework.scss";
@import "~bootstrap/scss/mixins/_grid.scss";
@import "~bootstrap/scss/_grid.scss";
@import "~bootstrap/scss/utilities/_display.scss";
@import "~bootstrap/scss/utilities/_flex.scss";

.container{
    width: 100%;
    max-width: 1400px;
}

.container-block{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}

@import "typography.scss";
@import "buttons.scss";
@import "forms.scss";
@import "header.scss";
@import "footer.scss";