h1, .h1{
    line-height: 120%;
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
    @include break(md) {
        font-size: 42px;
        text-align: left;
    }
    @include break(lg) {
        font-size: 47px;
    }
}

h2, .h2{
    line-height: 120%;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    @include break(md) {
        font-size: 28px;
    }
    @include break(lg) {
        font-size: 34px;
    }
}

.text-center{
    text-align: center;
}